<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Page Title {% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand text-light">Feeback Collection</a>
            <ul class="nav navbar-nav flex-row float-right">
              {% if session['username'] %}
              <li class="nav-item">
                <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link pr-3 text-light" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/register">Sign up</a>
              </li>
              {% endif %}
        </div>
    </nav>
    <h1>{% block heading %}{% endblock %}</h1>
    
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}
    
    {% block content %} This is an unfilled content block. You should never see this {% endblock %}
</body>
</html>