{% extends "base.html" %}

{% block title %}Feedback Collection: {{user.username}} Profile{% endblock %}
{% block heading %}User Profile for {{user.username}}{% endblock %}

{% block content %}
<ul>
  <li>Username: {{user.username}}</li>
  <li>Email Address: {{user.email}}</li>
  <li>Name: {{user.first_name}} {{user.last_name}}</li>
</ul>
<h2>Feedback Given:</h2>
<ul>
  {% for post in user.feedback %}
  <li><strong>{{post.title}}</strong>
  <div>{{post.content}}</div></li>
  {% endfor %}
</ul>
{% endblock %}